<div class="card mr-0 mt-6">
  <header class="card-header">
    <a class="card-header-title" (click)="selecteOffer(offer)">
      {{offer.designation}} - {{offer.contract}}
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      {{offer.description}}
      <br>
      <p>{{offer.salary}} $</p>
    </div>
  </div>
  <footer class="card-footer">
    <button class="card-footer-item button is-primary is-outlined mx-6 my-2"
      (click)="favoriteUnFavoriteOffer()">{{!offer.isFavorite ? 'Add favorite' : 'Del favorite'}}</button>
    <button class="card-footer-item button is-primary is-outlined mx-6 my-2"
      (click)="favoriteUnFavoriteOffer()">Apply</button>
    <button class="card-footer-item button is-primary is-outlined mx-6 my-2"
      (click)="blacklistedUnBlacklisteOffer()">
      {{!offer.isBlacklisted ? 'Blacklist' : 'Unblacklist'}}</button>
  </footer>
</div>
