<button class="button is-primary mt-6" (click)="!writeBlacklisted ? writeBlacklisted = true : writeBlacklisted = false">
{{!writeBlacklisted ? 'Afficher les offres blacklistées (' + blacklistedOffers + ')' : 'Cacher les offres blacklistées'}}
</button>

<div class="is-one-quarter" *ngFor="let offer of offers">
    <div *ngIf="!writeBlacklisted; else elseBlock">
        <div *ngIf="!offer.isBlacklisted">
            <app-offer-preview 
            [data]="offer" 
            (blacklist)="blacklistedOffer($event)">
            </app-offer-preview>
        </div>
    </div>
    <ng-template #elseBlock>
        <div *ngIf="offer.isBlacklisted">
            <app-offer-preview 
            [data]="offer" 
            (unBlacklist)="unBlacklistedOffer($event)">
            </app-offer-preview>
        </div>
    </ng-template>
</div>
